
body {
 margin: unset; 
}
//   *{
//   box-sizing: border-box;
// }

.imageSize {
  height: auto;
  max-width: 100%;


}

.AppMain {
padding-top: 50px;
}


p {
  padding: 20px;
  font-size: 30px;
  color: rgb(174, 24, 49)
}

.HeaderImage {
  height: 80%;
  max-width: 100%;  
  z-index: 1;

}

.logoImage {
  position:absolute;
  top: 175px;
  left: 400px;
  z-index: 2;
}



.Button:contained {
  background-color: red;

}